<h2 mat-dialog-title>Foglalási adatok</h2>
<mat-dialog-content>
  <form [formGroup]="bookingForm">
    <mat-form-field appearance="fill">
      <mat-label>Név</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefon</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Érkezés</mat-label>
      <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker1" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 [startAt]="minDate" ></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Távozás</mat-label>
      <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker2" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [startAt]="minDate" ></mat-datepicker>
      <mat-error *ngIf="bookingForm.get('endDate')?.hasError('invalidRange')">
        Visszafelé nem tudsz foglalni
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Mégse</button>
  <button mat-button (click)="onSubmit()" color="primary">Foglalás</button>
</mat-dialog-actions>
